name: Finance Management
on:
push:
branches:
- master
pull_request:
branches:
- master
jobs:
build:
runs-on: ubuntu-latest
steps:
- name: Checkouts
uses: actions/checkout@v2
- name: Setup JDK
uses: actions/setup-java@v1
with:
java-version: 17
- name: Cache Maven dependencies
uses: actions/cache@v4
with:
path: ~/.m2/repository
key: ${{ runner.os }}-maven-${{hashFiles('**/pom.xml')}}
restore-keys: |
${{ runner.os }}-maven-
- name: Build w/ Maven
run: mvn clean install
- name: Run test
run: mvn test
deploy:
runs-on: self-hosted
needs: build
steps:
- name: Checkouts
uses: actions/checkout@v2
- name: Build Docker Image
run: docker build -t demidov_app:1.0 .
- name: Run Docker Image
run: |
docker run -t --name demidovapp demidov_app:1.0 | echo
"3"
echo "3"
docker logs demidovapp
docker ps -a
